# ~/.slopenrc
#
# `slopen` scans through 'rules' in `~/.slopenrc` one-by-one to decide which command to
# use to open a file.
# Each rule should look like
# 
#      <type>: <regex> : <command>
# 
# Type can be either `M` and `S`.
# If type is 'M' then regular expression is matched on the MIME type. If it is 'S'
# then it matches file name instead. Whitespaces around the delimiter ':' is ignored.
# 
# If multiple rules matches a file, the first rule is always used. Lines started with
# '#' are ignored.

S: .*\.ps$                  :  zathura
S: .*\.pdf$                 :  zathura
S: .*\.png$                 :  qiv
S: .*\.jpg$                 :  qiv
S: .*\.jpeg$                :  qiv
S: .*\.mp3$                 :  xmms
S: .*\.ogg$                 :  xmms
S: .*\.wav$                 :  xmms
S: .*\.mpg$                 :  mplayer
S: .*\.mp4$                 :  mplayer
M: ^inode/directory$        :  rox
M: ^text/.*                 :  emacs
